/* Global View */
body {
    margin: 0;
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
    color: white;
}
.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.header-container {
    background-color: #383737;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.mybutton {
    padding: 10px 30px;
    border: solid 1px white;
    margin-left: 20px;
    border-radius: 5px;
}

.col {
    background-color: rgb(102, 57, 6);
    width: 30%;
    margin-bottom: 40px;
}

.hide-desktop-only {
    display: none;
}

.col p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 20px 25px;
    text-align: center;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

/* Tablet view */
@media (max-width: 820px) {
   .col {width: 45%}
   .hide-desktop-only {display: block;}
   .logo {margin-left: 10px;}
   nav {margin-right: 10px;}
   .mybutton {margin-left: 20px;}
}

@media (max-width: 678px) {
    header {display: block; text-align: center;}
    nav {margin:0;}
    nav a {display: block;}
    .logo {padding: 40px 0px; margin: 0;}
    .mybutton{margin: 0px;}
    .header-container{position: relative;}
    .container{padding: 50px 0;}
}

/* mobile view */
@media (max-width: 400px) {
    .col {width: 100%}    
}   