body {
    margin: 0;
    background-image: linear-gradient(rgba(194, 179, 179, 0.8),rgba(173, 173, 194, 0.8)), url("https://www.chicagotribune.com/resizer/bbhreQsb81xzOTjB7w6mwo0-Zoc=/800x450/top/www.trbimg.com/img-5bf311c6/turbine/ct-1542656448-utww204tpo-snap-image");
}

.header-container {
    background-color: #383737;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.mybutton {
    padding: 10px 20px;
    border: solid 1px white;
    margin-left: 35px;
    border-radius: 5px;
}
main {
    max-width: 1024px;
    margin: 0 auto;
    /* border:solid 1px gold; */
    height: 1000px;
}

section img {
    width: 100%;
    height: auto;
}

h2, p {
    padding:5px;
}

h2{
    text-decoration: underline;
    text-align: center;
}

.ptext-home{
    text-shadow: 2px 2px 5px rgb(255, 220, 166);
    text-align: justify;
    line-height: 25px;
    background-color: rgb(186, 194, 194);
}

ul {
    background-color: rgba(186, 194, 194, 0.01);
    padding: 20px;
  }
  
ul li {
    background: #fde2d3;
    margin: 5px;
    border-radius: 3%;
    padding:10px;
    box-shadow: 1px 1px 1px 1px #e6c5b3;
    list-style-position: outside;
}

@media only screen and (max-width:450px) {
    h2 { 
        font-size: small;
     }
}

